
    .container {
      display: flex;
      height: 200vh; 
    }

    .left {
      flex: 1;
      background-color: lightslategray;
      padding: 20px;
       border-radius: 16px;
    }

    .right {
      flex: 2;
      background-color:whitesmoke;
      padding: 20px;
      border-radius: 16px;
    }